@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

body {
    font-family: Mukta, sans-serif;
}
/* Navbar Section starts here */

.navbar-nav li {
    font-size: 13px;
    color: #000!important;
    padding-right: 30px;
}

.navbar {
    padding-left: 0px!important;
    padding-right: 0px!important;
}

.navbar-nav li a {
    color: #000;
    font-weight: 500;
    font-family: Mukta, sans-serif;
    letter-spacing: 0.8;
}

.navbar-content {
    margin-top: -30px!important;
}

.btn-register {
    background-color: #2C5D2D!important;
    color: #fff!important;
    border-radius: 4px;
    padding-left: 15px!important;
    padding-right: 15px!important;
}

/* Navbar section ends here */

/* Section 1 starts here */
.landing-page h2 {
    font-size: 68px!important;
    font-weight: 600;
}

.landing-page h3 {
    font-size: 52px!important;
    font-weight: 600;
}

.landing-page {
    padding-top: 3rem;
}

.btn-register-now {
    font-family: Mukta, sans-serif;
    font-size: 13px!important;
    background-color: #2C5D2D!important;
    color: #fff!important;
    border-radius: 50px!important;
    padding: 12px 30px!important;
}

.landing-page-img img {
    max-width: 80%;
}

.landing-page-img {
    padding-top: 1rem;
}
/* Section 2 ends here */